<div class="row background">
    <div class="offset-sm-4 col-sm-4">
        <div class="card text-blank">
            <div class="card-body">
                <div class="card-title text-center">
                    <h5>Login Using Email and Password</h5>
                </div>
                <div class="card-text">
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter your email" name="email" [formControl]="myForm.controls['email']">
                        </div>
                        <div class="alert alert-danger" *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
                            A valid email is required!
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Enter your password" name="pwd" [formControl]="myForm.controls['pwd']">
                        </div>
                        <div class="alert alert-danger" *ngIf="myForm.controls['pwd'].invalid && myForm.controls['pwd'].touched">
                            Password is required!
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-block btn-warning round" [disabled]="myForm.invalid">submit</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <button class="btn btn-link" routerLink="/home">Don't have an account create one</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success" *ngIf="message.length>0">
            You have been logged in successfully!
        </div>
        <div class="alert alert-danger" *ngIf="userError">
            {{ userError.message }}
        </div>
    </div>
</div>