<app-signup></app-signup>
<div class="row">
    <div class="col-sm-6 text-right pt-5">
        <img src="assets/What-Is-Scribe-Image.png" 
         height="300px" class="align-middle m-5">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">
            Scribe is thought sharing platform
            where you can share your thoughts and
            craziest ideas with the world. You can
            also intract with other users by
            commenting on their posts.<br/><br/> Create a
            free account and get started.
            <br/><br/>
            Let's get started!
        </h6>
    </div>
</div>
<hr/>
<div class="row">
    <div class="offset-2 col-sm-8 text-center pt-5 mt-5">
        <h5>Contect us
            <div class="row">
                <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5">
                    <i class="fa fa-phone mt-3"></i>
                    9759324225
                    <br/>
                    <i class="fa fa-envelope mt-3"></i>
                    sumitsrivastav44@gmail.com
                    <br/>
                    <i class="fa fa-facebook mt-3"></i>
                    Developer
                    <br/>
                </div>
                <div class="col-sm-6 text-left py-5 my-5 px-5">
                    <i class="fa fa-map-marker mt-3"></i> Shri Ram Murti Smarak College of Engg. & tech.<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> Abhaypur,<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> Bareilly<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> Uttar Pradesh, India<br/>
                </div>
            </div>
        </h5>
    </div>
</div>